/* General */
body {
    background-color: #e6e6e6;
    overflow-x: hidden;
    background-size: cover;
    font-size: 100%;
}

.navbar {
    background-color: #ffffff;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #cccccc;
    font-family: "Open Sans", sans-serif;
}

.main-content {
    padding-top: 50px; /* to account for fixed navbar at top */
}
.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4 {
    font-family: "Catamaran", sans-serif;
    color: #00a79d;
}
.main-content a {
    color: #00a79d;
}
.main-content p {
    font-family: "Open Sans", sans-serif;
}
.iframe-wrapper  {
    text-align: center;
    width: 100%;
}
.iframe-wrapper iframe {
    display: inline-block;
}

.title h1 {
    color: #333333 !important;
    text-align: center;
}
.title p {
    color: #333333 !important;
    text-align: center;
    font-family: "Open Sans", sans-serif;
}
.title hr {
    width: 100px;
    border: 1px solid #333333;
}

.front-page-panel {
    font-family: "Catamaran", sans-serif;
    color: #333333;
    height: 100vh;
    padding-top: 30vh;
}

.front-page-panel h1 {
    margin-top: -10px; 
    margin-bottom: 50px;
}
.highlight {
    background-color: rgba(255,255,255,0.85);
    line-height: 1.4 !important;
}

.front-page-panel button {
    border-radius: 0;
    background-color: #00a79d;
    margin-right: 10px;
    margin-bottom: 10px;
}
.front-page-panel button span {
    color: #ffffff;
    text-decoration: none;
}

.feed-item {
    margin-bottom: 40px;
}
.feed-favicon {
    height: 25px; 
}
.feed-name,
.feed-item-date {
    font-size: 1.4em;
}
.feed-item-title {
    font-size: 2.8em;
}
.feed-item-summary {
    margin-top:10px;
    font-size: 1.7em !important;
}

/* organizations app */
.organization-row {
    height: 300px;
}
.organization-outer {
    float: left;
    text-align: center;
    height: 100%;
}
.organization-inner {
    margin: 10px;
    padding: 10px;
    border-radius: 3px;
    height: 90%;
    background-color: #ffffff;
    box-shadow: 2px 2px 2px #cccccc;
}

.categories {
    text-align: center;
    margin-top: 10px;
}
.category {
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    background-color: #cccccc;
    font-family: "Open Sans", sans-serif;
    white-space: nowrap;
    border-radius: 2px;
    margin-right: 10px;
    padding: 3px;
    line-height: 2.2;
    cursor: pointer;
}
.category:hover {
    color: #ffffff; 
    background-color: #00a79d;
}

.active {
    background-color: #333333 !important;
    color: #ffffff !important;
}

/* Media queries so we can have dynamic stuff */
@media screen and (min-width: 85em) {
    .navbar a {
        font-size: 1.4em;
    }
    .main-content p {
        font-size: 2.2em;
    }
    .front-page-panel h1 {
        font-size: 7em;
    }
    .front-page-panel button span {
        font-size: 3em;
    }
    .title p {
        font-size: 2em;
    }
    .title h1 {
        font-size: 3.8em;
    }
    .category {
        font-size: 1.8em;
    }
    .organization-inner-header {
        font-size: 1.4em;
    }
    .organization-inner p {
        font-size: 1.5em;
    }
    .organization-inner-link {
        font-size: 1.4em;
    }
    .organization-row {
        height: 300px;
    }
}
@media screen and (min-width: 50em) and (max-width: 85em) {
    .navbar a {
        font-size: 1.4em;
    }
    .main-content p {
        font-size: 2.2em;
    }
    .front-page-panel h1 {
        font-size: 7em;
    }
    .front-page-panel button span {
        font-size: 3em;
    }
    .title p {
        font-size: 2em;
    }
    .title h1 {
        font-size: 3.8em;
    }
    .category {
        font-size: 1.8em;
    }
    .organization-inner {
        font-size: 0.65em;
    }
    .organization-inner-header {
        font-size: 1.0em;
    }
    .organization-inner-link {
        font-size: 2.2em;
    }
}
@media screen and (max-width: 50em) {
    body {
        height: 110vh;
    }
    .navbar a {
        font-size: 2.0em;
    }
    .main-content p {
        font-size: 2.2em;
    }
    .front-page-panel {
        padding-top: 15vh;
        padding-bottom: 5vh;
    }
    .front-page-panel h1 {
        font-size: 5.7em;
    }
    .front-page-panel button span {
        font-size: 2.5em;
    }
    .title p {
        font-size: 2em;
    }
    .title h1 {
        font-size: 4.0em;
    }
    .category {
        font-size: 2.0em;
        line-height: 2.0;
    }
    .organization-inner-header {
        font-size: 1.5em;
    }
    .organization-inner p {
        font-size: 1.6em;
    }
    .organization-inner-link {
        font-size: 1.5em;
    }
    .organization-row {
        height: auto;
    }
}
