{% extends 'website_base.html' %}

{% block head_title %}About{% endblock head_title %}

{% block main_content %}
    <div class="row title">
        <div class="col-md-12">
            <h1>About Untrumpt.com</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p>
                When Donald Trump was elected president on November 8th, 2016, many in this country felt a surge of fear, depression, and anger. We wondered what had become of our country. How did this happen? Regardless of our political views, however, millions of Americans voted for Trump and we must accept their decision. But that doesn't mean we have to embrace it.
            </p>
            <p>
                If you're a millenial like myself, you probably spent the last few years in an echo chamber of political affirmation and became complacent as a result. You might feel helpless right now. How do we fight back against a Trump presidency?
            </p>
            <p>
                Untrumpt.com is an attempt to put power back in our own hands. On this site you can "<b>Get Involved</b>" (discover and connect with organizations that will fight for a cause you care about), "<b>Pay Attention</b>" (view a Twitter feed of what those organizations are talking about right now), and "<b>Stay Informed</b>" (see live updates from major news outlets).
            </p>
            <p>
                This site is a tool to help us organize and contribute. No act is too small. You don't have to change the world right now. But you do need to stand up for what you think is right in whatever way possible. Our future depends on it.
            </p>
            <br />
            <br />
        </div>
{% endblock main_content %}
