{% extends "website_base.html" %}

{% load static %}

{% block head_title %}Home{% endblock head_title %}

{% block body_background %}style="background-image:url('{% static 'img/front_page.jpg' %}');"{% endblock body_background %}

{% block jumbotron %}
    <div class="container">
        <div class="row front-page-panel">
            <div class="col-md-12">
                <h1><span class="highlight">You Can Fight Back Against a Trump Presidency</span></h1>
            </div>
            <div class="col-md-12">
                <button type="button" class="btn btn-secondary" onclick="window.location.href='{% url 'organization_list' %}'">
                    <span class="button-text">Get Involved >></span>
                </button>
    {% comment %}
                <button type="button" class="btn btn-secondary">
                    <a href="#">Stay Informed >></a>
                </button>
                <button type="button" class="btn btn-secondary">
                    <a href="#">Pay Attention >></a>
                </button>
    {% endcomment %}
            </div>
        </div>
    </div>
{% endblock jumbotron %}

{% block main_content %}
{% endblock main_content %}
