{% extends "website_base.html" %}

{% load static %}

{% block head_title %}Home{% endblock head_title %}

{% block body_background %}style="background-image:url('{% static 'img/front_page.jpg' %}');"{% endblock body_background %}

{% block jumbotron %}
    <div class="row front-page-panel">
        <div class="col-md-10 col-md-offset-1">
            <h1>You Can Fight Back Against a Trump Presidency</h1>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <button type="button" class="btn btn-secondary">
                <a href="{% url 'organization_list' %}">Get Involved >></a>
            </button>
            <button type="button" class="btn btn-secondary">
                <a href="#">Stay Informed >></a>
            </button>
            <button type="button" class="btn btn-secondary">
                <a href="#">Pay Attention >></a>
            </button>
        </div>
    </div>
{% endblock jumbotron %}

{% block main_content %}
{% endblock main_content %}
